<% layout("layouts/boilerplatecode") %>
   <div class="row mt-3">
        <!-- mt-3 is a margin top 3 -->
        <div class="col-8 offset-2">
    <h1>Edit list</h1>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" value="<%= listing.title %>" type="text"  class="form-control" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea type="text" name="listing[description]" class="form-control" required><%= listing.description %></textarea>
            <div class="invalid-feedback">
                Please provide a valid Description.
              </div>
        </div>
        <div class="mb-3">
            Original Listing Image <br>
            <img src="<%=originalImageurl%>">
        </div>
        <div class="mb-3">
            <label for="image" class="form-label"> Upload  new Image</label>
            <input type="file" name="image" class="form-control">
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input type="number" name="listing[price]" value="<%= listing.price %>" class="form-control" required>
                <div class="invalid-feedback">
                    Please provide a valid Price.
                  </div>
            </div>
            <div class="mb-3 col-md-8">
                <label for="Country" class="form-label">Country</label>
                <input type="text" name="listing[country]" value="<%= listing.country %>" class="form-control" required>
                <div class="invalid-feedback">
                    Please provide a valid Country.
                  </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="listing[location]" value="<%= listing.location %>" class="form-control" required>
            <div class="invalid-feedback">
                Please provide a valid Location.
              </div>
        </div>
        <button class="btn btn-dark edit-btn mt-3">edit</button>
    </form>
</div>
</div>
